.community-container {
    margin-block: 100px;
}

.community-header {
    margin-block: 40px;
}

.community-header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: var(--size-h1);
}

.community-header h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: var(--size-h2);
}

.community-container-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    flex-wrap: wrap;
}

.community-cards {
    background-image: linear-gradient(to left, #04070d, #0a1327);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;

}

.community-cards:hover {
    transform: translateY(-5px);
    border-color: #FFD700;
}

.community-icon-box {
    font-size: 28px;
    margin-top: 30px;
    display: inline-block;
}

.community-cards p {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: var(--size-p);
}

.community-cards h2 {
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: var(--size-h2);
}

.community-analitcs-card {
    margin-top: 50px;
    background-image: linear-gradient(to left, #04070d, #0a1327);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding-block: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: transform 0.3s ease;
}

.community-result-card {
    padding: 24px;
    margin-inline: 20px;
    flex-direction: column;
}

.community-result-card h1 {
    font-size: var(--size-h1);
    font-family: 'Orbitron', sans-serif;
}

.community-result-card p {
    font-family: 'Inter', sans-serif;
    font-size: var(--size-p);
}

@media (max-width: 600px) {
    .community-container-card {
        display: grid;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding-block: 20px;
        padding-inline: 20px;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        scroll-padding-inline: 20px;
        width: auto;
        height: auto;
    }

    .community-cards {
        min-width: 200px;
        min-height: 190px;
        white-space: normal;
    }

    .community-cards h2 {
        font-size: 1rem;
    }

    .community-cards p {
        font-size: 0.5rem;
    }

    .community-analitcs-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow-x: auto;
        white-space: norap;
        padding-block: 10px;
        margin-inline: 60px;
        justify-content: flex-start;
        gap: 20px;
    }

    .community-result-card {
        padding: 0;
    }

    .community-result-card h1, p{
        font-size: 1rem;
    }
}