.download-container  {
    margin-inline: 30px;
    margin-block: 100px;
    border-radius: 8px;
    padding: 30px;
    background-color: rgba(19, 21, 38, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(to left, #04070d, #0a1327);
}

.download-container:hover {
    transform: translateY(-5);
    border-color: #FFD700;
}

.download-icon {
    margin-block: 20px;
    padding: 15px;
    background-color: rgba(255, 215, 0, 0.1);
    color: #FFD700;
    border-radius: 16px;
    display: inline-block;
}

.download-text {
    margin-block: 10px;
}

.download-text h1 {
    font-size: var(--size-h1);
    font-family: 'Orbitron', sans-serif;
}

.download-text p {
    margin-block: 15px;
    font-family: 'Inter', sans-serif;
    font-size: var(--size-p);
}

.download-card-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: auto;
    max-width: 800px;
    margin: 0 auto;
}

.download-cards {
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-block: 15px;
    min-width: 250px;
    gap: 15px;
    padding: 10px 25px;
    background-color: white;
    border-radius: 16px;
    transition: transform 0.3s ease;
    flex: 0 1 auto;
    
}

.download-cards:hover {
    transform: translateY(-5px);
    border-color: black;
}

.download-cards h2 {
    color: #444;
    font-size: var(--size-h2);
    font-family: 'Inter', sans-serif;
}

.download-cards span {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}

.download-downloads-number {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-family: 'Inter', sans-serif;
}

.download-downloads-number h2 {
    font-size: var(--size-h2);
    color: white;
}



@media (max-width: 600px) {
    .download-card-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2px;
    }

    .download-text h1 {
        font-size: 1.5rem;
    }

    .download-text p {
        font-size: 0.8rem;
    }

    .download-icon {
        display: inline-block;
        margin: 0;
        background-color: rgba(255, 215, 0, 0.1);
        color: #FFD700;
        border-radius: 16px;
    }

    .download-cards {
        width: 70%;
        max-width: 280px;
    }

    .download-cards h2 {
        font-size: 0.6rem;
    }

    .download-cards span {
        font-size: 0.8rem;
    }
}