.feature-container {
    margin-inline: 100px;
    margin-block: 100px;
}

.feature-header-content {
    text-align: center;
    margin-bottom: 40px;
}

.feature-header-content h1 {
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.feature-header-content b {
    color: #FFD700;
}

.feature-header-content p {
    margin-top: 20px;
    color: #999;
    font-family: 'Inter', sans-serif;
}

.feature-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.feature-card {
    background-color: rgba(19, 21, 38, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    transition: transform 0.5s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
    border-color: #FFD700;
}

.feature-icon-box {
    font-size: 28px;
    color: #FFD700;
    background-color: rgba(255, 215, 0, 0.1);
    padding: 8px 20px;
    border-radius: 8px;
    display: inline-block;
}

.feature-card h1 {
    color: white;
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Orbitron', sans-serif;
}

.feature-card p {
    color: #a0a0a0;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.feature-example-feature {
    margin-block: 60px;
}

.feature-example-feature span {
    color: #FFD700;
    text-shadow: 
    0 0 20px rgba(255, 215, 0, 0.5),
    0 0 40px rgba(255, 215, 0, 0.3);
}

.feature-example-feature button {
    background-color: #FFD700;
    margin-block: 30px;
    padding: 10px 30px;
    border-radius: 16px;
    color: black;
    font-family: 'Inter', sans-serif;
}