.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-inline: 5px;
}

.footer-container h2 {
    font-family: 'Orbitron', sans-serif;
}

.footer-container b {
    color: #FFD700
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Orbitron', sans-serif;
}

.footer-copyrights {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}