.hero-container{
    margin-top: 30px;
    margin-bottom: 100px;
}

.hero-container h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 4.5rem;
    color: white;
    margin-bottom: 10px;
    text-shadow: 
    0 0 20px rgba(255, 215, 0, 0.5),
    0 0 40px rgba(255, 215, 0, 0.3);
}

.hero-container h2 {
    font-size: 1.5rem;
    color: #FFD700;
    font-family: 'Inter', sans-serif;
}

.hero-container b {
    color: #FFD700;
}

.hero-container p {
    color: #999;
    font-family: 'Inter', sans-serif;
}

.hero-container button {
    width: 170px;
    padding: 10px;
    margin-top: 20px;
    background-color: #FFD700;
    color: black;
    border-radius: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}