.hero-container {
    margin-top: 30px;
    margin-bottom: 100px;
}

.hero-container h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: var(--size-h1);
    color: white;
    margin-bottom: 10px;
    text-shadow: 
    0 0 20px rgba(255, 215, 0, 0.5),
    0 0 40px rgba(255, 215, 0, 0.3);
}

.hero-container h2 {
    color: #FFD700;
    font-family: 'Inter', sans-serif;
    font-size: var(--size-h2);
}

.hero-container b {
    color: #FFD700;
}

.hero-container p {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: var(--size-p);
}

.hero-container button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #FFD700;
    color: black;
    border-radius: 16px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 600px) {
    .hero-container button {
        width: 150px;
        height: 40px;
        padding: 0;
        font-size: 0.8rem;
    }
}