.IssTracker-container {
    padding-block: 20px;
    padding-inline: 20px;
    border: 1px solid white;
    border-radius: 8px;
}

.IssTracker-informations {
    margin-block: 20px;
    margin-inline: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}