#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  background: radial-gradient(at bottom, #04070d 100%, #29194a 0%);
  min-height: 100vh;
  overflow-x: hidden; 
}

.stars {
  width: 3px;
  height: 3px;
  border-radius: 99px;
  background: transparent;
  box-shadow: 1744px 122px #FFF , 134px 1321px #FFF , 92px 859px #FFF, 1920px 400px #FFF;
  animation: animStar 5s linear infinite;
}

.stars2 {
  width: 3px;
  height: 3px;
  border-radius: 99px;
  background: transparent;
  box-shadow: 500px 1500px #FFF , 1000px 500px #FFF, 200px 800px #FFF;
  animation: animStar 5s linear infinite;
}

@keyframes animStar {
  from { transform: translateY(0px); }
  to { transform: translateY(-2000px); }
}